<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/schedule/' %} active{% endif %}" href="{{ site.baseurl }}/schedule"><i class="fa fa-calendar fa-fw"></i> Schedule</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/sql-data/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/sql-data/">01. Data Science</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-intro/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-intro/">02. Intro to Python 1</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-intro/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-intro/">03. Intro to Python 2</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-data/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-data/">04. Working with Data</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-datavis/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-datavis/">05. Data Visualization 1</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-spatial/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-spatial/">06. Spatial Data</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-datavis-2/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-datavis-2/">07. Data Visualization 2</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-solving-bigger-problems/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-solving-bigger-problems/">08. Solving Problems</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-functions/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-functions/">09. Functions</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-conditionals/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-conditionals/">10. Making Choices</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-iteration-1/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-iteration-1/">11. Repeating Things 1</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-iteration-2/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-iteration-2/">12. Repeating Things 2</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-git/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-git/">13. Version Control</a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-databases/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-databases/">14. SQL Databases </a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-knitr/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-knitr/">15. Package: knitr (reporting) </a>
      <a class="sidebar-nav-item{% if page.url == '/assignments/py-tidyr/' %} active{%endif %}" href="{{ site.baseurl }}/assignments/py-pandas/">16. Package: Pandas (data processing) </a>
      <a class="sidebar-nav-item{% if page.url == '/nav/course-materials/' %} active{% endif %}" href="{{ site.baseurl }}/nav/course-materials"><i class="fa fa-briefcase fa-fw"></i> Course Materials</a>
      <a class="sidebar-nav-item{% if page.url == '/nav/getting-started/' %} active{% endif %}" href="{{ site.baseurl }}/nav/getting-started"><i class="fa fa-play fa-fw"></i> Getting Started</a>
      <a class="sidebar-nav-item{% if page.url == '/nav/about/' %} active{% endif %}" href="{{ site.baseurl }}/nav/about"><i class="fa fa-user fa-fw"></i> About / Contact Us</a>
      <a class="sidebar-nav-item{% if page.url == '/in-class-feedback/' %} active{% endif %}" href="{{ site.baseurl }}/in-class-feedback"><i class="fa fa-bullhorn fa-fw"></i> In-class Feedback</a>
    </nav>

    <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ site.baseurl }}/public/cc-by-80x15.png" /></a></p>
  </div>
</div>
