# OS-generated
.DS_Store
**/.DS_Store

# Python
*.py[cod]
__pycache__/
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Jupyter Book
_build
.jupyter_cache/
.ipynb_checkpoints/

# Assignment artifacts
assignments/*.zip
assignments/**/*.zip
