body {
    font-size: 1em;
}

/* h1 {
    font-size: 2.2em;
} */

h2 {
    font-size: 1.8em;
}
h3 {
    margin-top: 0.75em;
    font-size: 1.5em;
}
p {
    font-size: 0.9em;
    margin-bottom: 0.8rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* defaul is 500 */
    line-height: 1; /* default is 1.15 */
    margin: 2rem 0 1rem; /* default is 2.75rem 0 1.05rem top,left/right,bottom*/
}